.form-box input:invalid {
  border: 1px solid red;
}

.form-box input {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
  width: 300px;
  height: 2em;
}

.form-box label {
  margin-top: 1em;
}

.form-box button {
  margin-bottom: 1em;
}
