@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&family=Nunito:wght@400;700&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 1.5em;
  font-family: "Rubik", sans-serif;
  background-color: #282c34;
  color: aliceblue;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  /* text-align: center; */
}

header {
  font-size: 1.5rem;
}

header h1 {
  font-weight: 400;
}

.board-list {
  list-style: none;
}
.board-cards {
  position: absolute;
  top: 1em;
  right: 9.5em;
}

.cards-box {
  height: 100vh;
  width: 65em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  left: 25em;
  bottom: 10em;
  overflow-x: hidden;
  margin: -10px;
}

.new-card {
  position: absolute;
  top: 0;
  right: 0;
}

.cards-box > * {
  flex: 1 1 0;
  margin: 10px;
  flex-basis: auto;
  max-height: 16em;
  max-width: 16em;
  min-height: 16em;
  min-width: 16em;
}
.card-display {
  position: relative;
  border-style: none;
  /* border-color: red; */
  /* aspect-ratio: 1/1; */

  background: pink;
  padding-top: 0.75em;
  margin-bottom: 2em;
  color: #282c34;
  text-align: center;
}

.btn-ur {
  position: absolute;
  display: block;
  top: 0.5em;
  right: 0.5em;
  background: transparent;
  border: none;
  font-weight: bold;
}

.pos-ll {
  position: absolute;
  /* display: block; */
  bottom: 0.5em;
  left: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: center; */
  justify-content: space-between;
  align-items: center;
  max-height: 2em;
}
.like-btn {
  /* color: red; */
  /* font-size: 0.5 em; */
  /* bottom: 0.5em; */
  background: transparent;
  border: none;
  /* font-weight: bold; */
}

.like-btn img {
  width: 100%;
  height: 8.5em;
}

.sorting-btns {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.sorting-btns button {
  background-color: aliceblue;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
  margin-right: 1em;
  margin-bottom: 1em;
}

.sorting-btns button:hover {
  background-color: #f7fafa;
}

.sorting-btns button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
